/.history
/Adobe Premiere Pro Audio Previews
/Adobe Premiere Pro Auto-Save
/Adobe Premiere Pro Video Previews
/logo_olympic.prproj
/logo_olympic_final.prproj
/Motion Graphics Template Media
/olympic logo ani ation using css.mp4
/olympic logo animation.mp4
/Screenshot (3).png